<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/index.css"  />

    <title>Document</title>
</head>
<body>
    <img src="../images/image 1.png" />

    <form action="/criar-conta" method="post" >

        <label for="nome">Nome completo</label>
        <input type="text" name="nome" id="nome" placeholder="Digite o nome completo"  />

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Digite o email" />

        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Digite a senha"  />

        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>